.sobarbap{
    padding-bottom: 100px;
    height:110vh;
}
.gap{
    height:200px;
}
.main{
    background-color: #ecece9a9;
    height: 100vh;
    width: 100vw;
    display: flex;
    /* position: absolute; */
    /* align-items: center; */
    overflow-y: scroll;
    justify-content: center;
    margin-bottom: 100px;
    padding-bottom:100px
}

.main::-webkit-scrollbar{
    width:7px;
    border-radius: 10px;
  }
  .main::-webkit-scrollbar-thumb{
   background-color: rgba(0, 0, 0, 0.24);
   border-radius: 10px;
  }
.navbar{
    position: absolute;
}
.section1{
    height: 200px; width:100%;
}
.section2{
    min-height:350px;width:600px;
    
}

.section2c{
    width:600px;
}
.section3{
    height:350px;width:90%;
    
}
.section5{
    height:250px;width:90%;
    margin-top:10px;
    
}
.section4{
    margin-top: 10px;
    height: 250px; width: 100%;
    contain: content;
    overflow-y: scroll;
  
}
.section4::-webkit-scrollbar{
    margin-top: 20px;
    width: 1.5px;
    border-radius: 10px;
}
.section4::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(194, 193, 193);
}
.section6{
    
    min-height: 250px; width: 100%;
}
.hold{
    position: fixed;
    height: 250px;
    width: 270px;
    top: 100px;
}
.hold2{
    position: fixed;
    height: 250px;
    width: 270px;
    top: 90px;
    right: 50px;
}
.section7{
    contain: content;
    overflow-y: scroll;
    min-height: 250px; width: 275px;
}
.section7::-webkit-scrollbar{
    margin-top: 20px;
    width: 1.5px;
    border-radius: 10px;
}
.section7::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(194, 193, 193);
}
.containerSection34{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.postContainer{
    width:100%;

    position: relative;
    left: 50%;
    transform: translate(-48%, 0%);
}
.containerSection2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}
.gridMain{
   
    padding-top:20px;
    width: 100%;
    min-height: 100vh;
    display:flex;
    justify-content:center;
}
@media screen and (min-width:1000px) {
    .gridMain{
        padding:20px 60px;
    }
}
@media screen and (max-width:1200px) {
    .section1,.section4,.section6,.section7{
        display: none;
    }
}
@media screen and (max-width:900px){
    /* .section2{
        width:100%;
    } */
    /* .gridMain{
        padding:20px 20px;
    } */
    .section5{
        display: none;
    }
}
@media screen and (max-width:600px) {
    .section2{
        width:400px;
    }
    .postContainer{
        top:0;
        transform: translate(-50%, 0%);
    }
    .section1,.section6,.section4,.section3,.section5{
        display:none;
    }
 
}
@media screen and (max-width:400px) {
    .section2,.section2c{
        width:350px;
    }
    .postContainer{
        top:0;
        transform: translate(-50%, 0%);
    }
    .section1,.section6,.section4,.section3,.section5{
        display:none;
    }
 
}