
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&family=Secular+One&display=swap');
.wholePage{
    height: 100vh;
    overflow-y: scroll;
}
.wholePage::-webkit-scrollbar{
    margin-top: 20px;
    width: 3px;
    border-radius: 10px;
}
.wholePage::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(194, 193, 193);
}
.imageDiv{
    /* background-color:red; */
    width:100%;
    height:300px;
    border-radius:5px 5px 0 0;
    background-image:url(../../public/images/ss1.png)
    ;
    background-position: fixed;
    
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-origin:inherit;
    background-size: 300%;
    filter:brightness(.8)  grayscale(5) opacity(0.8);
    position:relative;
    /* filter:blur(2px) */
}
.main{
    position:relative;
    min-height:100%;
    width:100%;
    box-sizing: border-box;
    /* background-color: red;; */
    /* contain: content; */
    
}
.profileImage{
    height:250px;
    width:250px;
    background-color: black;
    position:absolute;
    z-index: 10;
    left:50%;
    top:150px;
    transform:translate(-50%,0);
    border-radius: 50%;
    border: 5px solid white;
    outline:2px solid black;
}
.image{
    border-radius: 50%;
}
.profileName{
    width:100%;
    /* min-height:70%; */
    /* background-color:red; */
    top:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    /* top:80px; */
    position:relative;
    border-radius: 0 0 5px 5px;
    height: 200px;
    /* background-color: red; */
}
.bioData{
    
}
.name{
    color:black;
    font-size:20px;
    /* margin-bottom:10px; */
    font-family: 'Poppins', sans-serif;
    text-transform:uppercase;
    padding:20px 20px 10px 20px;
    overflow-wrap: break-word;
    position:relative;
    word-wrap: break-word;
white-space: pre-wrap;
word-break: break-word;
    font-weight: bolder;
/* background-color:red */

}
.nameContainer{
    display:flex;
    align-items:center;
    text-align:center;
    flex-direction:column;
    /* line-height: 15px; */
    margin-top: 35px;
    padding: 10px;
    /* background-color: aqua; */
    width: 100%;
    
}
.identity{
    font-family: 'Poppins', sans-serif;
    padding:0 20px;
    padding-bottom:25px;
    font-size: 14px;
}

@media (max-width:600px) {
    .profileName{
        height: 320px;
    }
}