.seeall{
    /* position:fixed; */
    padding: 10px 6px 10px 10px;
    /* display: grid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    width: 100%;
    border: 1px solid;
    /* border-bottom: 1px solid; */
    /* justify-content:space-between; */
    grid-template-columns: 5fr 5fr;
    /* background: linear-gradient(298deg, rgb(247, 253, 255) 0%, rgb(92, 92, 92) 38%, rgb(78, 78, 78) 38%, rgb(20, 20, 20) 100%); */
    /* border-radius:10px 10px 10px 10px; */
}
.followerstitle{
    font-size: .85rem;
    color:  rgb(38, 38, 38);
    font-weight: 500;
}

.allphotos{
    border: 1px solid;
    border-top: none;
    display: flex;
    padding: 10px 0px 10px 0px;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
}
.allphotos::-webkit-scrollbar {
    margin-top: 10px;
    width: 2px;
    border-radius: 10px;
  }
  .allphotos::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgb(61, 61, 61);
  }
.photos{
    width: 75px;
    height: 75px;
    margin: 2px 3px 2px 0px;
}
@media (max-width:700px) {
    .followerstitle{
        font-size: .7rem;
    }
}